/* xs < 768 */

@media screen and (max-width: 767px) {
    .about-content {
        width: 90%;
    }
    .post {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 50%;
        padding: 10px;
        height: 200px;
        margin: 0 !important;
    }
    .post .pi {
        height: 120px;
    }
    .video-content-wrapper {
        width: 100%;
    }
    .video-content {
        float: none;
        text-align: center;
    }
    .video-content h2, .video-content p {
        width: 520px;
        margin: 0 auto;
        text-align: left;
    }
    .right-videos {
        float: none;
        width: 100%;
        margin: 20px 0 0;
        overflow: hidden;
    }
    .right-videos figure {
        float: left;
        width: 25%;
        padding: 10px;
    }
}

/* sm */
@media screen and (min-width: 767px) and (max-width: 768px) {
    header {
        height: 70px;
    }
}

/* md */
@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        height: 80px;
    }
}

/* lg */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .logo h1 {
        font-size: 40px !important;
    }
    header {
        height: 90px;
    }
}

@media screen and (max-width: 992px) {
    header {
        height: 60px;
    }
    .about-center {
        top: 0;
    }
    .menu {
        top: 0;
        height: 100%;
    }
    .mob-logo {
        display: block;
    }
    .desk-logo {
        display: none;
    }
    .logo {
        width: 100%;
        left: 0;
        margin-top: 0;
    }
    .logo h1 {
        font-size: 40px !important;
        padding-top: 10px;
    }
    .cosmonaut-logo {
        top: 0;
    }
    .about-general {
        background-image: none;
    }
    .about-content p {
        font-family: "Open Sans";
        margin: 10px auto;
        width: 80%;
    }
    .top-profile a {
        display: block;
        text-align: right;
    }
    #about {
        background-color: #2a231f;
        background-image: none;
    }
    #center .middle {
        width: 100%;
    }
    #center aside {
        position: inherit;
        width: 100%;
        padding: 3%;
        background-color: #3b4050;
    }
    #center .content {
        top: 0;
    }
    .content {
        width: 100%;
    }
    .most-likeable {
        text-align: center;
        margin-top: 0px;
        font-size: 60px;
    }
    .item-menu-news a, aside h3, .item-menu-news a:hover {
        color: white;
    }
    aside h3, .mpp, #videos {
        border: 0;
    }
    .item-menu-news {
        border-bottom: 1px solid #e2e2e2;
    }
    .item-menu-news:last-child {
        border: 0;
    }
    .mpp {
        margin: 0;
        padding: 0;
    }
    .mppi {
        float: inherit;
        width: 100%;
        max-height: 300px;
    }
    .mppt {
        margin: 0 auto;
        width: 98%;
    }
    .mppt .label-single-post {
        font-family: Bebas;
        margin: 0;
    }
    .post-info {
        margin: 0 0 20px;
        padding: 0;
        height: 15px;
    }
    #videos {
        margin-top: 0;
    }
    #videos h2 {
        font-size: 60px;
    }
    .image-thumbnail:hover {
        border-color: transparent;
    }
    .single-video {
        width: 50%;
    }
    .single-video img {
        margin-left: -25%;
        height: inherit;
    }
    .image-thumbnail {
        width: 100%;
        text-align: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }
    .image-thumbnail iframe {
        margin-top: 0;
    }
    footer {
        height: 56px;
    }
    #links {
        text-align: center;
        width: 100%;
    }
    footer nav a {
        float: inherit;
        font-size: 20px;
    }
    .post-content, .posts-right, .post-left {
        width: 100% !important;
    }
    .posts-right {
        margin: 10px 0 0;
        border-left: 0;
        padding: 1%;
        background-color: rgba(244, 244, 244, 0.41);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .post-left {
        float: none;
    }
    .post-content {
        margin: -200px 0 0 !important;
    }
    .ril {
        max-height: 125px;
    }
}
